<!DOCTYPE html>
<html>
	<head>
		<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-KXXSRYGL1P"></script>
	<script>
		|window.dataLayer = window.dataLayer || [];
		|function gtag(){dataLayer.push(arguments);}
		|gtag('js', new Date());
		|
		|gtag('config', 'G-KXXSRYGL1P');
	</script>
		<title>Friendship-quiz</title>
		<meta name="viewport" content="width=device-width, user-scalable=no,initial-scale = 1.0">
		<link rel="shortcut icon" href="../static/images/icon.jpg" type="image/x-icon">
		style
			include ../static/css/index-style.css
		script
			include ../static/js/index.js
	</head>
	<body>
		<div id='outDiv'>
			<div id="center" class="center">
				<h1>Real Friendship Quiz</h1>
				<p id="para">Welcome to Friendship Quiz</p>
				<p id="para">Create your quiz and check whose is know you well</p>
				<hr>
				<label for="name" id="name-label">Enter your name here</label>
				<input type="text" name="name" id="name">
				<input type="submit" name="submit-name" id="submit-name" onclick="submit_name()">
				<div id="steps">
					<p id="para">Steps to Make quiz</p>
					<ul style="list-style-type:square;margin-left: 25px;">
						<li class="list-items">Enter Your name.</li>
						<li class="list-items">Select answers of your choice.</li>
						<li class="list-items">Share link to your friends.</li>
					</ul>
				</div>
				<div id="contact">
					<a href="https://sanjudeveloper.herokuapp.com" target="_blank">
						|Contact to developer
					</a>
				</div>
			</div>
		</div>
	</body>
</html>