<!DOCTYPE html>
<html>
	<head>
		<title>Friendship-quiz|Score</title>
		<meta name="viewport" content="width=device-width, user-scalable=no,initial-scale = 1.0">
		<link rel="stylesheet" href="../static/css/index-style.css">
		<link rel="stylesheet" href="../static/css/scorepage.css">
		<link rel="shortcut icon" href="../static/images/icon.jpg" type="image/x-icon">
	</head>
	<body>
		<div id="outDiv">
			<div class="center">
				<h1>Real Friendship Quiz</h1>
				<p id="para">Welcome to Friendship Quiz</p>
				<p id="para">ScoreBoard</p>
				<div id="scoreBoard">
					<table id="scoreTable" border="1px">
						<thead>
							<th>Name</th>
							<th>Score</th>
						</thead>
					</table>
				</div>
				<a href="/" id="homeBtn" target="_blank">Create your quiz</a>
				<div id="steps">
					<p id="para">Steps to Make quiz</p>
					<ul style="list-style-type:square;margin-left: 25px;">
						<li class="list-items">Click on the button above</li>
						<li class="list-items">Enter Your name.</li>
						<li class="list-items">Select answers of your choice.</li>
						<li class="list-items">Share link to your friends.</li>
					</ul>
				</div>
				<div id="contact">
					<a href="https://sanjudeveloper.herokuapp.com" target="_blank">
						|Contact to developer
					</a>
				</div>
			</div>
		</div>	
		div(id='getScoreData')= scores
		<script src="../static/js/scorepage.js"></script>
	</body>
</html>