<!DOCTYPE html>
<html>
<head>
	<title>Friendship-quiz|Share Link</title>
	<meta name="viewport" content="width=device-width, user-scalable=no,initial-scale = 1.0">
	<link rel="stylesheet" href="../static/css/index-style.css">
	<link rel="stylesheet" href="../static/css/share_link-style.css">
	<link rel="shortcut icon" href="../static/images/icon.jpg" type="image/x-icon">
</head>
<body>
	<div id="outDiv">
		<div class="center">
			<h1>Real Friendship Quiz</h1>
			<p id="para">Welcome to Friendship Quiz</p>
			<p>Share Link to your friends</p>
			<textarea readonly class="box" id='link_box'></textarea>
			<div id="links">
				<img src="../static/images/copylink2.jpg" alt="CopyLink" id="copy_link_img" class='link_images'>
				<img src="../static/images/whatsapp.png" alt="Share link on whatsapp" id="share_link_img" class='link_images'>
			</div>
		</div>
	</div>
	div(id='getId')= obj_id
	<script src="../static/js/share_link.js"></script>
</body>
</html>