*{
	margin: 0px 0px;
	padding: 0px 0px;
	box-sizing: border-box;
}
body{
	background-color: #555555;

}
#outDiv{
	display:flex;
    height: 100vh;
}
.center{
	display: flex;
	flex-direction: column;
	width: 350px;
	padding: 10px;
	margin: auto;
	text-align: center;
	align-items:center;
	background-color: #ff52ac;
	flex-wrap: wrap;
	border-radius:10px;
}
h1{
	font-family: Copperplate, Papyrus, fantasy;
	font-size: 35px;
}
#para,.para{
	font-size: 25px;
	padding:10px 10px;
	text-align: center;
}
#name-label{
	font-size: 25px;
	padding: 10px 10px;
	color: #aaff88;
}
#name{
	height: 27px;
    width: 280px;
    margin: 28px auto;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 20px;
    font-family: sans-serif;
}
#submit-name{
	height: 35px;
	width: 100px;
	background-color: #5557a1;
	margin: 13px auto;
	border-radius: 7px;
}
.list-items{
	font-size: 20px;
	color: #aaff88;
	text-align: left;
}
#getData,#getId{
	display: none;
}

/* #center{
	display: block;
	/* position: absolute; */
justify-content: center;
} */