#question_label{
	/* width: 87px;
    float: left; */
    background-color: #0F5598;
    margin: 21px 22px -1px 11px;
    font-size: 23px;
    border-radius: 10px 10px 0px 0px;
	padding: 5px;
	color: white;
}
#question {
    font-size: 33px;
    color: #fff274;
    background-color: #0f5598;
    border-radius: 6px;
	padding: 3px 5px;
}
.choice-container{
	display: flex;
	/*flex-direction: column;*/
	margin-bottom: 10px;
	margin-top: 10px;
	width: 100%;
	font-size: 20px;
	border: 0.1rem solid rgb(86,165,235,0.25);
	background-color: white;
}
.choice-container:hover{
	cursor: pointer;
	box-shadow: 0 5px 10px 0 rgba(86,185,235,0.5);
	transform: translateY(-2px);
	transition: transform 150ms;
}
.choice-prefix{
	padding: 10px 15px;
	background-color: #56a5eb;
	color: white;
}
.choice-text{
	padding: 10px;
	width: 100%;
}
#obj_id{
	display: none;
}
.loading-bar{
	display: none;
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-image: url('../images/gif.gif');
	background-position: 50% 50%;
	background-color: rgba(255, 255, 255, 0.8);
	background-repeat: no-repeat;
}
body.loading{
	overflow: hidden;
}
body.loading .loading-bar{
	display: block;
}